# Node modules
/node_modules

# Diretórios de compilação TypeScript
/dist
/tsconfig.tsbuildinfo

# Arquivos de log
*.log

# Arquivos de ambiente
.env

# IDE/Editor
.vscode/
.idea/

# Arquivos temporários
*.swp
*.swo

# Outros arquivos que podem ser criados automaticamente
npm-debug.log*
yarn-debug.log*
yarn-error.log*
